.Message {
  line-height: 1.5em;
}

.Message.log {
  color: #777;
}

.Message .author {
  font-weight: bold;
  color: #6cc;
  margin: 0 5px 0 0;
}

.Message.me .author {
  color: #b6b6ff;
}

.Message .anchor {
  text-decoration: none;
  color: #bbb;
}
